body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    display: flex;
  }
  .searchbox{
    width: 100%;
    margin: 0px auto;
    
  }
  .header{
    background: #ECDFBF;
    overflow: hidden;
    padding: 20px;
  }
  /* .header h1{
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 8px;
  } */
  #value{
    border: none;
    background: #E0D3B6;
    padding: 6px;
    font-size: 18px;
    width: 80%;
    border-radius: 6px;
    color: white;
  }
  #value:focus{
    outline: none;
  }
  .container{
    background: #FFFFF5;
    padding: 1%;
  }
  .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0px;
  }

  @media ( min-width: 481px ) {
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3% 0px;
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  /* .icon{
    width: 25px;
    height: 25px;
    background: #E0D3B6;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    margin-right: 8px;
  } */

  .name{
    font-size: 17px;
    font-weight: 470;
    color: #333;
  }




/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #ddd;
  color: black;
}



