body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    display: flex;
  }
  .searchbox{
    width: 100%;
    margin: 0px auto;
    
  }
  .header{
    background: #ECDFBF;
    overflow: hidden;
    padding: 20px;
    text-align: center;
  }

  @media ( min-width: 481px ) {
    .searchbox{
      width: 50%;
      margin: 0px auto;
      
    }
  }



/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #ddd;
  color: black;
}



